<% include partial/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Nombre</td>
            <td>Fecha</td>
            <td>Compania</td>
            <td>Palabras Clave</td>
            <td>Imagen</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].nombre %></td>
                <td><%= data[i].fecha %></td>
                <td><%= data[i].compania %></td>
                 <td><%= data[i].palabrasclaves %></td>
                  <td><%= data[i].imagen %></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <H1> Subir a s3</H1>
        <form action="/image-upload" method="post" >'
          <div class="form-group">
        <input type="file" accept= "image/*" name="filetoupload"  class="form-control" accept="" /><br>'
          
          <button type="submit" class="btn btn-primary">
            subir Imagen
          </button>
           </div>
        </form>'


       <H1> Llenar datos</H1>
        <form action="/add" method="POST">

           <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="date" name="fecha" placeholder="fecha" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="compania" placeholder="compania" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="palabrasclaves" placeholder="Palabras Clave" class="form-control">
          </div>
                    <div class="form-group">
            <input type="text" name="imagen" value=".domain.com" disabled class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            save Juego
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partial/_footer %>